html {
    background-color: #333;
}
body {
    font-family: 'Palanquin', serif;
    color: #fff;
}
.container-fluid {
    background-color: #333;
    height: 100%;
}
.display-area,
.search-bar {
    margin: 20px 0 5px 0;
}
#map,
#marker-info {
    min-height: 600px;
    height: 100%;
    width: 100%;
}
#marker-info {
    padding: 40px 20px 0 20px;
    text-align: center;
}
div .marker-parent,
div .map-parent {
    padding: 0;
}
div .marker-parent {
    background-color: #ff8c00;
}
.orange {
    color: #ff8c00;
}
.glyphicon {
    font-size: 30px;
}

/*---shadow box for around orange display case---*/

/*---found on csstricks.com---*/

.shadow {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.search-bar {
    height: 34px;
}

/* The side navigation menu */

/* reference: https://www.w3schools.com/howto/howto_js_sidenav.asp*/

/*-- Modified by me to fit my design--*/

/*---Navigation Bar CSS---*/

.sidenav {
    height: 50%;
    /* 100% Full-height */
    
    width: 0;
    /* 0 width - change this with JavaScript */
    
    position: fixed;
    /*Stay in place */
    
    z-index: 1;
    /*Stay on top */
    /*top: 0;*/
    /*left: 0;*/
    
    background-color: rgba(101,145,187,.7);
    /* Blue*/
    
    overflow-x: hidden;
    /* Disable horizontal scroll */
    
    padding-top: 17px;
    /* Place content 20px from the top */
    
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.sidenav li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    transition: 0.3s
}
/* When you mouse over the navigation links, change their color */
.sidenav li:hover,
.offcanvas li:focus {
    color: #ff8c00;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    color: #fff;
    font-size: 36px;
    margin-left: 50px;
}

/* Footer: Social Media Section */

footer {
    margin: 0;
    text-align: center;
}
footer ul {
    padding-left: 0;
}
footer li {
    display: inline-block;
    padding: 0 0 10px;
}
footer h2 {
    margin: 10px;
}
.social-link {
    text-decoration: none;
    color: #fff;
    padding: 1.5;
    font-size: 16px;
}
[class*="fontawesome-"]:before {
    color: #fff;
    display: inline-block;
    font-family: "fontawesome", sans-serif;
    width: 5em;
}
.copyright {
    font-size: 10px;
}
.fancy-text {
    font-family: "Pacifico", sans-serif;
    color: #fff;
    font-size: 14px;
}
.signature-text a {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #fff;
    opacity: 0.7;
}

/*-- search bar found  at http://bootsnipp.com/snippets/featured/expanding-search-button-in-css --*/

/*-- Modified by me to fit my design--*/

.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 100%;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    
    display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    
    display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
    border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
}

@media (max-width: 768px) {
    .search-form{
        padding-left: 20px;
    }

}


